/*  your css code here. If applicable */
.hero {
	display:flex;
	justify-content:center;
	align-items:center;
}

img {
	width:80%;
	height:100%;
	object-fit:cover;
}

button {
	padding:5px;
	background-color:red;
	color:#fff;
	border-radius:10px;
}